<div class="flex w-full max-h-fit text-white bg-black justify-start md:justify-around flex-wrap space-y-4">
    <div class="flex flex-col content-end justify-center items-start font-medium mx-auto py-6">
        <h2 class="text-lg mb-2">QUICK LINKS</h2>
        <div class="flex flex-col justify-start text-base space-y-2 text-grayText font-medium ">
            <a href="index.html" class="transition ease-in-out duration-100 hover:drop-shadow-shadowGlow">Home</a>
            <a href="menu.html" class="transition ease-in-out duration-100 hover:drop-shadow-shadowGlow">Menu</a>
            <a href="contact.html" class="transition ease-in-out duration-100 hover:drop-shadow-shadowGlow">Contact Us</a>
            <a href="about.html" class="transition ease-in-out duration-100 hover:drop-shadow-shadowGlow">About</a>
        </div>
    </div>
    <div class="hidden flex-col justify-center items-center lg:flex">
        <img src="../assets/images/logo-no-background2.png" alt="" class="h-1/2">
        <h2 class="text-lg font-light text-grayText">Where Good Food Meets Great Company</h2>
    </div>
    <div class="flex flex-col justify-center md:content-start items-end mx-auto py-6">  
        <ul class="flex flex-col text-sm space-y-2 text-grayText font-medium">
            <h2 class="text-lg text-white">CONTACT</h2>
            <li class="flex items-center">
                <span class="material-icons mr-2 text-blueIconColor">call</span>+354 555-3212
            </li>
            <li class="flex items-center">
                <span class="material-icons mr-2 text-blueIconColor">place</span> 1404 Food Road
            </li>
            <li class="flex items-center">
                <span class="material-icons mr-2 text-blueIconColor">email</span>frontdesk@hungryllama.com
            </li>
            <li class="flex items-center">
                <span class="material-icons mr-2 text-blueIconColor">watch_later</span>
                <div class="flex flex-col">
                    <p>Mon - Fri: 11:00 - 22:00</p>
                    <p>Sat - Sun: 11:00 - 23:00</p>
                </div>
            </li>
        </ul>
    </div>
</div>